@model List<Product>



<<div class="container mt-5 mb-5">

    <form action="productsSearch" method="get">
        <div class="row">
            <input type="submit" class="col-sm-2 btn btn-primary" value="ابحث" />
            <div class="col-sm-10">
                <input type="text" name="xName" id="xName" class="form-control" style="text-align:right" placeholder="البحث" />
            </div>
        </div>
    </form>
</div>

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>المنتجات الخاصة بقسم</h2>
            <p>نحن في خدمتكم ونقدم لكم أفضل المنتجات أينما كنتم مع امكانية توصيل الطلبات الى موقعكم</p>
        </div>

        <div class="row gy-4">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue" style="width:100% !important;">
                        <img src="@item.Photo" class="myProductImage">
                        <h4><a href="/Home/ProductsDescription/@item.Id">@item.Name</a></h4>
                        <p>@item.Description</p>
                    </div>
                </div>
            }

        </div>
    </div>
</section><!-- End Services Section -->